<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>个人信息</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>

    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>我的信息</h5>
                    <div class="ibox-tools">

                        <a class="dropdown-toggle" title="修改个人信息" data-toggle="dropdown" href="profile.html#">
                            <i class="fa fa-edit"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="javascript:edit()">修改信息</a></li>
                            <li><a href="javascript:resetPwd()">修改密码</a></li>
                            <li><a href="javascript:avatar()">修改头像</a></li>
                        </ul>

                    </div>
                </div>
                <div class="contact-box">
                    <form class="layui-form" th:object="${user}">
                        <div class="user_left">
                            <div class="layui-form-item">
                                <label class="layui-form-label">登录名</label>
                                <div class="layui-input-block">
                                    <input type="text" th:field="*{loginName}"  disabled class="layui-input layui-disabled">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">公司名称</label>
                                <div class="layui-input-block">
                                        <input type="text" th:field="*{conpany}"  disabled class="layui-input layui-disabled">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">公司法人</label>
                                <div class="layui-input-block">
                                <input type="text"   th:field="*{legalPerson}"  disabled lay-verify="required" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">联系电话</label>
                                <div class="layui-input-block">
                                    <input type="text"  th:field="*{phonenumber}" disabled  lay-verify="required" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">营业执照</label>
                                <div class="layui-input-block">
                                    <input type="text"    th:field="*{phonenumber}"  disabled lay-verify="required" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">公司地址</label>
                                <div class="layui-input-block">
                                    <input type="text"  th:field="*{address}" disabled  class="layui-input">
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-block">
                                    <input type="text"  th:field="*{email}"  disabled lay-verify="required|email" class="layui-input">
                                </div>
                            </div>

                        </div>
                        <div class="user_right">
                            <div th:if=" *{roles[0].roleId} eq  2">
                                <img alt="image1" class=" m-t-xs img-responsive" th:src="(*{wechatIcon} == '') ? '/img/profile.jpg' : '/images/' + *{wechatIcon}">
                              </div>
                            <div th:if=" *{roles[0].roleId} ne  2">
                                <img alt="image" class=" m-t-xs img-responsive" th:src="(*{avatar} == '') ? '/img/profile.jpg' : '/profile/' + *{avatar}">

                            </div>
                        </div>
                        <!--<div class="layui-form-item" style="margin-left: 5%;">-->
                            <!--<div class="layui-input-block">-->
                                <!--<button class="layui-btn" lay-submit="" lay-filter="changeUser">立即提交</button>-->
                                <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                    <div class="clearfix"></div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
<script>
    var userId = [[${user.userId}]];
    /*用户信息-修改*/
    function edit() {
        var url = ctx + "system/user/profile/edit/" + userId;
        $.modal.open("修改用户", url);
    }
    /*用户管理-重置密码*/
    function resetPwd() {
        var url = ctx + 'system/user/profile/resetPwd/' + userId;
        $.modal.open("重置密码", url, '800', '500');
    }
    /*用户管理-头像*/
    function avatar() {
        var url = ctx + 'system/user/profile/avatar/' + userId;
        $.modal.open("修改头像", url);
    }
</script>
</body>
</html>
