<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.payLevel.mapper.PayLevelMapper">
    
    <resultMap type="PayLevel" id="PayLevelResult">
        <result property="id"    column="id"    />
        <result property="awardLevel"    column="award_level"    />
        <result property="awardMoney"    column="award_money"    />
        <result property="awardDesc"    column="award_desc"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectPayLevelVo">
        select id, award_level, award_money, award_desc, state, create_by, create_time, update_by, update_time, remark from biz_pay_level
    </sql>
	
    <select id="selectPayLevelList" parameterType="PayLevel" resultMap="PayLevelResult">
        <include refid="selectPayLevelVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="awardLevel != null and awardLevel != ''"> and award_level = #{awardLevel}</if>
             <if test="awardMoney != null and awardMoney != ''"> and award_money = #{awardMoney}</if>
             <if test="awardDesc != null and awardDesc != ''"> and award_desc = #{awardDesc}</if>
             <if test="state != null and state != ''"> and state = #{state}</if>
             <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectPayLevelById" parameterType="Integer" resultMap="PayLevelResult">
        <include refid="selectPayLevelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPayLevel" parameterType="PayLevel">
        insert into biz_pay_level
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="awardLevel != null and awardLevel != '' ">award_level,</if>
			<if test="awardMoney != null and awardMoney != '' ">award_money,</if>
			<if test="awardDesc != null and awardDesc != '' ">award_desc,</if>
			<if test="state != null and state != '' ">state,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
			<if test="remark != null and remark != '' ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="awardLevel != null and awardLevel != ''">#{awardLevel},</if>
			<if test="awardMoney != null and awardMoney != ''">#{awardMoney},</if>
			<if test="awardDesc != null and awardDesc != ''">#{awardDesc},</if>
			<if test="state != null and state != ''">#{state},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updatePayLevel" parameterType="PayLevel">
        update biz_pay_level
        <trim prefix="SET" suffixOverrides=",">
            <if test="awardLevel != null  ">award_level = #{awardLevel},</if>
            <if test="awardMoney != null  ">award_money = #{awardMoney},</if>
            <if test="awardDesc != null  and awardDesc != ''  ">award_desc = #{awardDesc},</if>
            <if test="state != null  ">state = #{state},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePayLevelById" parameterType="Integer">
        delete from biz_pay_level where id = #{id}
    </delete>
	
    <delete id="deletePayLevelByIds" parameterType="String">
        delete from biz_pay_level where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>