<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.userPayLog.mapper.UserPayLogMapper">
    
    <resultMap type="UserPayLog" id="UserPayLogResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="payFee"    column="pay_fee"    />
        <result property="payMethod"    column="pay_method"    />
        <result property="payTime"     column="pay_time"    />
        <result property="payDesc"    column="pay_desc"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="user"    column="user_id" javaType="User" resultMap="UserResult" />

    </resultMap>
    <resultMap type="User" id="UserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="loginName"    column="login_name"   />
        <result property="userName"     column="user_name"    />
        <result property="email"        column="email"        />
    </resultMap>
	<sql id="selectUserPayLogVo">
        select id, user_id, user_name, pay_fee, pay_method, pay_time, pay_desc, state, create_by, create_time, update_by, update_time, remark
         from biz_user_pay_log
    </sql>
	
    <select id="selectUserPayLogList" parameterType="UserPayLog" resultMap="UserPayLogResult">
        select b.id, b.user_id,  b.pay_fee, b.pay_method, b.pay_time, b.pay_desc, b.state, b.create_by, b.create_time, b.update_by, b.update_time, b.remark,a.user_name ,a.login_name
        from biz_user_pay_log b,sys_user a
        where b.user_id = a.user_id

            <if test="id != null and id != ''"> and b.id = #{id}</if>
             <if test="userId != null and userId != ''"> and b.user_id = #{userId}</if>
             <if test="userName != null and userName != ''"> and b.user_name = #{userName}</if>
             <if test="payFee != null and payFee != ''"> and b.pay_fee = #{payFee}</if>
             <if test="payMethod != null and payMethod != ''"> and b.pay_method = #{payMethod}</if>
             <if test="payTime != null and payTime != ''"> and b.pay_time = #{payTime}</if>
             <if test="payDesc != null and payDesc != ''"> and b.pay_desc = #{payDesc}</if>
             <if test="state != null and state != ''"> and b.state = #{state}</if>
             <if test="createBy != null and createBy != ''"> and b.create_by = #{createBy}</if>
             <if test="createTime != null and createTime != ''"> and b.create_time = #{createTime}</if>
             <if test="updateBy != null and updateBy != ''"> and b.update_by = #{updateBy}</if>
             <if test="updateTime != null and updateTime != ''"> and b.update_time = #{updateTime}</if>
             <if test="remark != null and remark != ''"> and b.remark = #{remark}</if>

    </select>
    
    <select id="selectUserPayLogById" parameterType="Integer" resultMap="UserPayLogResult">
       select b.id, b.user_id,  b.pay_fee, b.pay_method, b.pay_time, b.pay_desc, b.state, b.create_by, b.create_time, b.update_by, b.update_time, b.remark,a.user_name ,a.login_name
        from biz_user_pay_log b,sys_user a
        where b.user_id = a.user_id
        where b.id = #{id}
    </select>
        
    <insert id="insertUserPayLog" parameterType="UserPayLog">
        insert into biz_user_pay_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="userId != null and userId != '' ">user_id,</if>
			<if test="userName != null and userName != '' ">user_name,</if>
			<if test="payFee != null and payFee != '' ">pay_fee,</if>
			<if test="payMethod != null and payMethod != '' ">pay_method,</if>

			<if test="payDesc != null and payDesc != '' ">pay_desc,</if>
			<if test="state != null and state != '' ">state,</if>
			<if test="createBy != null and createBy != '' ">create_by,</if>
			<if test="updateBy != null and updateBy != '' ">update_by,</if>
			<if test="updateTime != null and updateTime != '' ">update_time,</if>
			<if test="remark != null and remark != '' ">remark,</if>
            pay_time,create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="payFee != null and payFee != ''">#{payFee},</if>
			<if test="payMethod != null and payMethod != ''">#{payMethod},</if>

			<if test="payDesc != null and payDesc != ''">#{payDesc},</if>
			<if test="state != null and state != ''">#{state},</if>
			<if test="createBy != null and createBy != ''">#{createBy},</if>
			<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
            sysdate(), sysdate()
         </trim>
    </insert>
	 
    <update id="updateUserPayLog" parameterType="UserPayLog">
        update biz_user_pay_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''  ">user_name = #{userName},</if>
            <if test="payFee != null  ">pay_fee = #{payFee},</if>
            <if test="payMethod != null  and payMethod != ''  ">pay_method = #{payMethod},</if>
            <if test="payTime != null  ">pay_time = #{payTime},</if>
            <if test="payDesc != null  and payDesc != ''  ">pay_desc = #{payDesc},</if>
            <if test="state != null  ">state = #{state},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
             update_time=sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUserPayLogById" parameterType="String">
        delete from biz_user_pay_log where id = #{id}
    </delete>
	
    <delete id="deleteUserPayLogByIds" parameterType="String">
        delete from biz_user_pay_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>